@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --color-one: #1E3178;
    --color-two: #F6C80D;
    --color-three: #5F6C8F;
    --font:"Inria Serif", serif;
}
*{
    font-family: var(--font);
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
